$color-1: #fdc52c;
$color-2: #cd122d;
$color-3: #154284;
$color-4: #ffffff;
$color-5: #181733;
$color-6: #4c7;
$color-7: #5d8;
$color-8: #1a004a;

$bg-error: rgb(253, 237, 237);
$color-error: rgb(95, 33, 32);

$bg-warning: rgb(255, 244, 229);
$color-warning: rgb(102, 60, 0);